div(class='slider')
 div(class='tp-banner-container')
  div(class='tp-banner')
   ul
    li(data-transition="fade" data-slotamount="7" data-masterspeed="700" data-saveperformance="on")
     img(src="" alt="slidebg1" data-lazyload="images/slides/img1.jpg" data-bgposition="center top" data-bgfit="normal" data-bgrepeat="no-repeat")
     div(class='container')   
   
       div(class="tp-caption grey_heavy_72 skewfromrightshort tp-resizeme rs-parallaxlevel-0"
         data-x="0"
         data-y="60" 
         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="500"
         data-start="1200"
         data-easing="Power3.easeInOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.01"
         data-endelementdelay="0.1")  صيانة سريعة وموثقة
       
       div(class="tp-caption grey_regular_18 customin tp-resizeme rs-parallaxlevel-0"
        data-x="0"
        data-y="120" 
        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
        data-speed="500"
        data-start="1800"
        data-easing="Power3.easeInOut"
        data-splitin="none"
        data-splitout="none"
        data-elementdelay="0.01"
        data-endelementdelay="0.1")  خدمات التدفئة والتبريد و وصيانة جميع الاجهزة الكهربائية مع قطع الغيار الاصلية <br/>مع ضمان جودة عالية وخدمات اخرى مقدمة من مركز توب سيرفس

       
       a(href='#' class="tp-caption customin tp-resizeme rs-parallaxlevel-0 largeredbtn"
    
        data-y="200" 
        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
        data-speed="500"
        data-start="2400"
        data-easing="Power3.easeInOut"
        data-splitin="none"
        data-splitout="none"
        data-elementdelay="0.1"
        data-endelementdelay="0.1"
        data-linktoslide="next") شاهد التفاصيل   
    li(data-transition="curtain-2" data-slotamount="7" data-masterspeed="700"  data-saveperformance="on") 
     img(src="" alt="slidebg2" data-lazyload="images/slides/img2.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat")
     div(class='container')   
     
         div(class="tp-caption grey_heavy_72 skewfromrightshort tp-resizeme rs-parallaxlevel-0"
           data-x="0"
           data-y="60" 
           data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
           data-speed="500"
           data-start="1200"
           data-easing="Power3.easeInOut"
           data-splitin="none"
           data-splitout="none"
           data-elementdelay="0.01"
           data-endelementdelay="0.1")  صيانة سريعة وموثقة
         
         div(class="tp-caption grey_regular_18 customin tp-resizeme rs-parallaxlevel-0"
          data-x="0"
          data-y="120" 
          data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500"
          data-start="1800"
          data-easing="Power3.easeInOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.01"
          data-endelementdelay="0.1") خدمات التدفئة والتبريد و وصيانة جميع الاجهزة الكهربائية مع قطع الغيار الاصلية <br/>مع ضمان جودة عالية وخدمات اخرى مقدمة من مركز توب سيرفس
         
         a(href='#' class="tp-caption customin tp-resizeme rs-parallaxlevel-0 largeredbtn"
          data-y="200" 
          data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500"
          data-start="2400"
          data-easing="Power3.easeInOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.1"
          data-endelementdelay="0.1"
          data-linktoslide="next") شاهد التفاصيل   
    li(data-transition="slideleft" data-slotamount="7" data-masterspeed="700" data-saveperformance="on")
     img(src="" alt="slidebg3" data-lazyload="images/slides/img3.jpg" data-bgposition="right top" data-kenburns="on" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom")
     div(class='container')   
     
         div(class="tp-caption grey_heavy_72 skewfromrightshort tp-resizeme rs-parallaxlevel-0"
           data-x="0"
           data-y="60" 
           data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
           data-speed="500"
           data-start="1200"
           data-easing="Power3.easeInOut"
           data-splitin="none"
           data-splitout="none"
           data-elementdelay="0.01"
           data-endelementdelay="0.1") صيانة سريعة وموثقة
         
         div(class="tp-caption grey_regular_18 customin tp-resizeme rs-parallaxlevel-0"
          data-x="0"
          data-y="120" 
          data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500"
          data-start="1800"
          data-easing="Power3.easeInOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.01"
          data-endelementdelay="0.1")  خدمات التدفئة والتبريد و وصيانة جميع الاجهزة الكهربائية مع قطع الغيار الاصلية <br/>مع ضمان جودة عالية وخدمات اخرى مقدمة من مركز توب سيرفس
         a(href='#' class="tp-caption customin tp-resizeme rs-parallaxlevel-0 largeredbtn"
          data-y="200" 
          data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500"
          data-start="2400"
          data-easing="Power3.easeInOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.1"
          data-endelementdelay="0.1"
          data-linktoslide="next") شاهد التفاصيل   
 
          
   div(class='tp-bannertimer')
   
